<head>
<title>Address Book</title>
<th:block th:replace="fragments/stylehead"></th:block>
</head>

<body>
	<div class="container">
		<div th:replace="/fragments/navbar"></div>
		
		<!-- <nav class="navbar navbar-light bg-light">
			<form class="form-inline" th:action="@{/searchresult}" method="get">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search" th:field="${keyword}">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</nav> -->
		<nav class="navbar navbar-light bg-light">
		<form th:action="@{/search}">
		<input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
		<input type="submit" value="Search" />
    &nbsp;
	</form>
	</nav>	
		 <div class="container">
			<div class="row" th:each="l : ${list}">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h3>result</h3>
						</div>
						<div class="card-body">
							<p th:text="${l.firstName}" />
							<p th:text="${l.lastName}" />
							<p th:text="${l.phoneNumber}" />
							<p th:text="${l.email}" />

						</div>
						<div class="card-footer">
						<button>Remove</button></div>

					</div>
				</div>
			</div>
		</div> 
	</div>
</body>

</html>